@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    margin-left: 12%;
    margin-right: 20%;
    background-color:slategrey;
}
header{
    padding:20px 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0066ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
select{
    background: none;
    color:wheat;
}
.header{
    background: rgb(24, 31, 40);
    top: 75px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    justify-content: space-between;
}
.logo{
    font-size:25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.N{ 
    font-size: 20px;
    margin-right:180px;
}
.S{display: flex;color: #fff;gap: 130px;margin-right: 20px;}
nav a{
    font-weight: 150;
    transition: .3s;
    text-decoration: none;
    color: #fff;
}
a:hover,.active{
    color: rgb(0, 245, 180);
}
section{
    height: 40vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8091cf;
}
section:nth-child(odd){
    background:#323946;
}
div{
    font-size: 20px;
    display:inline-flex;
    margin: 1px;
    padding: 0.1px;
 
    text-align: center;
    color: #fff;
    width: 900px;
    height: 30px;
}
img{
    width: 300px;
    height: 200px;
}
p{width: 100%;color: #fff;margin-left: 20px;}
.a1{
    
    text-decoration:none;
}
